<div style="width:400px">
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Title" autocomplete="off" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea
          matInput
          placeholder="Leave a comment"
          autocomplete="off"
        ></textarea>
      </mat-form-field>
    </form>
    <button mat-raised-button color="accent">Send</button>
  </mat-card>
</div>
